img
{
height: 300px;
width:250px;
border:1px solid blue;
padding:20px;
border-radius: 20px;
margin-left: 10px;
margin-top: 10px;
/* margin-right: 10px; */
/* box-shadow: 0 0 15px blue; */
box-shadow: 10px 10px 15px blue;
transition: all 1s;
}


img:hover
{

    transform: scale(1.1 ,1.1 );
}